{
	"plugins": [
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-proposal-export-default-from",
		"@babel/plugin-proposal-nullish-coalescing-operator",
		"@babel/plugin-proposal-numeric-separator",
		"@babel/plugin-proposal-optional-chaining",
		"@babel/plugin-proposal-private-methods",
		"@babel/plugin-proposal-private-property-in-object",
		"@babel/plugin-proposal-throw-expressions",
		"@babel/plugin-transform-runtime"
	],
	"presets": [
		[
			"@babel/preset-env", {
				"targets": { "node": "14.17" }
			}
		],
		[
			"@babel/preset-typescript", {
				"extensions": [ ".js", ".ts" ]
			}
		]
	]
}